#lineChart_single{
  min-height: 250px; 
  height: 250px; 
  max-height: 250px; 
  max-width: 100%;
}
#lineChart{
  min-height: 250px; 
  height: 250px; 
  max-height: 250px; 
  max-width: 100%;
}
#cost_of_buying_rate {
  max-width: 120px;
}

#cost_of_buying_price {
  max-width: 180px;
}

#currency_single {
  max-width: 160px;
}
#date_single {
  max-width: 100px;
}
#base_multiple {
  max-width: 100px;
}